.container {
  display:flex;
align-items: center;
justify-content: space-between;
}

.nav{
  background:red;
}

div{
  color: #F47144;

}
.container {
display:flex;
align-items: center;
height:100px;
flex-direction: row;
}


.logo_container{
  height:30px;
  font-size: 36px;
  color:#F47144;
  align-self: center;
  flex-grow: 2;
  width:60%;
  text-align: center;
}
.logo {
  background: lightgray;
  padding: 20px;

}
.sign-in-button {
  align-self: flex-start;
    width:20%;
    padding: 0 40px;
}
.left-space {
  width:20%;
}
.landing-panel {
  background-color: lightgray;
}
button {
  border:none;
  color: white;
}
.blurb {
  text-align: center;
}

section {
  height:200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
