
<nav>
<div class="sign-in-button">  sign-in </div>
</nav>

<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">

<section class="mdcl-hero">
<div class="hero-image">

<div class="logo-box"><img class="front-page-logo" src="/client/assets/mdcl-logo2.png"></div>
<div class="hero-text"> <h1>Securing Medical Data On The Move</h1></div>

<div class="login-area">
<label class="one-quarter left-align white-signup">
    <input type="text" value="username" ng-model="newUser.username"  placeholder= "username" maxlength="40"/>
</label>
<label class="one-quarter left-align white-signup">
    <input type="email" placeholder= "email" value="email" ng-model="newUser.email"/>
</label>
<label class="one-quarter left-align white-signup">
    <input type="password" value="password" placeholder= "password" ng-model="newUser.user_password" />
</label>
<label id="myBtn" class="one-quarter left-align white-signup sign-up-btn">
  <button class="sign-up-btn" ng-click="createUser(newUser); loginNewUser(newUser)">Sign Up</button>
</label>
</div>

</div>
</section>


<section class="mdcl-blurb">
<div class="blurb-container"><h2>MDCL is taking the stress out of data security for doctors and hospitals.</h2></div>
</section>




<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
    <div class="landing-panel center-block">
        <h3 class="section-title">Have an account? Login!</h3>
        <h3>Your Username or Email</h3>
        <input type="text" ng-model="existingUser.loginName" />

        <h3>Your Password</h3>
        <input type="password" ng-model="existingUser.password" /> <br>



        <button class="cta-button" ng-click="logUserIn(existingUser)">SIGN IN</button>
    </div>
</div>

</main>
</div>



<footer></footer>
